<mat-card>
  <mat-card-title>
    <mat-icon>build</mat-icon>
    Saw Setup
  </mat-card-title>

  <table style="width: 100%">
    <tr>
      <td>
        <mat-form-field>
          <input matInput placeholder="Extrusion Length" type="number" [(ngModel)]="extrusionLength">
          <span matSuffix>mm</span>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Saw Blade Thickness" type="number" [(ngModel)]="sawBlade">
          <span matSuffix>mm</span>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Smallest Remnant" type="number" [(ngModel)]="smallestRemnant">
          <span matSuffix>mm</span>
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-card>

<p></p>

<mat-card>
  <mat-card-title>
    <mat-icon>list</mat-icon>
    Part List

    <div style="float: right; text-align: right;">
      <button mat-icon-button (click)="addPart()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button (click)="download()">
        <mat-icon>file_download</mat-icon>
      </button>
      <button mat-icon-button (click)="fileUpload.click()">
        <mat-icon>file_upload</mat-icon>
      </button>
      <input type="file" hidden (change)="onFileChange($event)" #fileUpload>
    </div>
  </mat-card-title>

  <table style="width: 100%">
    <tr *ngFor="let part of parts">
      <td>
        <mat-checkbox [(ngModel)]="part.enabled"></mat-checkbox>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Part Name" [(ngModel)]="part.name" [disabled]="!part.enabled">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Length" type="number" [(ngModel)]="part.length" [disabled]="!part.enabled">
          <span matSuffix>mm</span>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput placeholder="Quantity" type="number" [(ngModel)]="part.quantity" [disabled]="!part.enabled">
        </mat-form-field>
      </td>
      <td>
        <button mat-icon-button (click)="removePart(part)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </tr>
  </table>

  <mat-card-actions class="buttons">
    <button mat-fab color="accent" (click)="calculate()">
      <mat-icon>check</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<p></p>
<mat-card *ngIf="result.length > 0">
  <mat-card-title>
    <mat-icon>line_style</mat-icon>
    Result
  </mat-card-title>

  Number of Bars: {{result.length}}<br/>

  <cm-bar *ngFor="let bar of result; let i = index" [data]="bar" [length]="extrusionLength" [index]="i"></cm-bar>
</mat-card>
