<md-card>
  <md-card-title>{{data.isRemnant ? 'Remnant' : 'Bar'}} #{{index + 1}} {{data.length | number:'.1-1'}}mm</md-card-title>

  <div class="diagram">
    <ng-container *ngFor="let part of data.parts; let i = index">
      <div *ngFor="let numberOfPart of getPartArray(part)" class="part" [class.odd]="i % 2 === 1"
           [class.remnant]="part.index === -1" [style.width]="(part.length / data.length) * 100 + '%'"
           [mdTooltip]="getPartTitle(part)" mdTooltipPosition="above"></div>
    </ng-container>
  </div>

  <hr>

  <table>
    <tbody>
    <tr *ngFor="let part of data.parts">
      <th>{{part.quantity}}x {{getPartTitle(part)}}</th>
      <td class="numeric">{{part.length | number:'.1-1'}}mm</td>
    </tr>
    <tr class="small">
      <th>Remnant</th>
      <td class="numeric">{{data.remnant | number:'.1-1'}}mm</td>
    </tr>
    <tr class="small">
      <th>Waste</th>
      <td class="numeric">{{getWaste() | number:'.1-1'}}mm</td>
    </tr>
    </tbody>
  </table>
</md-card>
